{{ define "header" -}}
<!DOCTYPE html>
<html>
  <head>
    <title>Agent debug server</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="/css/main.css"
    />
  </head>
  <body class="column gap-b">
    <div class="row gap-m">
        <a href="/">Главная</a>
        <a href="/config">Конфиг</a>
        <a href="/parsing">Парсинг</a>
    </div>
{{ end }}
{{ define "footer" }}
  </body>
</html>
{{ end }}
